footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--background-color);
	/* padding: 10px; */
	margin-right: 5%;
	margin-left: 5%;
	justify-content: space-around;
	/* align-items: center; */
	text-align: center;
	border-radius: 8px 8px 0 0;
}

h4 {
	font-size: 20px;
	text-align: center;
	color: var(--azul-color);
}
