@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('color.css');

html, body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;

}

.container {
    display: grid;
    grid-gap: 20px;

}

.text-align-center {
    text-align: center;
}

.imgdent{
    width: 550px;
    height: 650px;
    padding: 20px;
}

section div p {
    padding: 10px 60px;
}

header {
    /* background-color: red; */
    /* height: 100px; */
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.logo {
    /* background-color: black; */
    align-content: center;
    padding: 10px 30px;

}

li {
    list-style-type: none;
}

.btnlogin {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--dark-color);
    background-color: var(--dark-color);
    color: #fff;
    text-decoration: none;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.41);
}

.nav-links {
    /* background-color: bisque; */
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}

.nav-links a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 4px 8px;
    border-radius: 4px;
  }

.sectionradius {
    /* border: solid 13px rebeccapurple; */
    border-radius: 8px;

}

.section2grid{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

}

.itensgrid li{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    padding: 10px;
    align-items: center; /* Alinha verticalmente o conteúdo no centro */
    padding-left: 100px;
}

.itensgrid {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão da lista */
}

.itensgrid img {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    width: 24px; /* Largura da imagem */
    height: 24px; /* Altura da imagem */
}




.grid2colums {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section{
    margin-right: 5%;
    margin-left: 5%;
}

section3-itens{
    padding-top: 200px;
    background-color: red;
}

.sectionbackground {
    background-color: white;
}

.main1{
    padding-left: 50px;
    align-content: center;
}


.btn {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaço entre os botões */
}

.btn2 {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaço entre os botões */
}




.btn a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 10px;  /* Adjust padding for better button size */
    background-color: var(--dark-color);
    color: #fff;  /* Ensuring the text is visible */
    text-decoration: none;
    font-weight: bold;
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.813);
}

.btn2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    padding: 8px 10px;  
    background-color: var(--light-color);
    color: var(--dark-color);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

a { color: var(--dark-color); } 

section h2 {
    font-size: 48px;
    text-align:center;
    color: var(--dark-color);
}

h4 {
    font-size: 20px;
    text-align: center;
    color: var(--azul-color);
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--background-color);
    /* padding: 10px; */
    margin-right: 5%;
    margin-left: 5%;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
    border-radius: 8px 8px 0 0;

    
}

.divcab{
    /* background-color: red; */
    justify-self: end;
    border-radius: 8px;
}
.img1 {
    height: 550px;
    width: 600px;
    display: flex;
    border-radius: 8px;
    
}

.img3{
    height: 500px;
    width: 650px;
    display: flex;
    border-radius: 0 8px 8px 0;

}

h3 {
    font-weight: 800;
    font-size: 36px;
}

.ultimasecao  {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 20px;
    text-align: center;
}

.borderfooter {
    border-top: 1px solid var(--dark-color); 
}

.autoria p {
    text-align: center;
    margin: 8px;
    font-size: 12px;
}