@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('color.css');

html, body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;

}

.logo {
    align-content: center;
    padding: 10px 30px;
}

header {

    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

li {
    list-style-type: none;
}

.btnlogin {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--dark-color);
    background-color: var(--dark-color);
    color: #fff;
    text-decoration: none;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.41);
}


.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    top: 0;
    
}

.nav-links a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 4px 8px;
    border-radius: 4px;
  }

a { color: var(--dark-color); } 

#topBtn {
    display: none; /* Esconde o botão inicialmente */
    position: fixed; /* Fixa o botão em uma posição específica da tela */
    bottom: 30px; /* 20px do fundo da tela */
    right: 30px; /* 30px do lado direito da tela */
    z-index: 99; /* Garante que o botão ficará sobre outros elementos */
    border: none; 
    outline: none; 
    background-color: var(--background-color);
    color: white; /* Cor do texto */
    cursor: pointer; /* Cursor de mãozinha */
    padding: 8px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: larger;
}

#topBtn:hover {
    background-color: var(--dark-color)
}